/.zig-cache
/zig-out
node_modules

# Home package manager
pantry/
/packages/kernel/.zig-cache
/packages/ffi/.zig-cache
/packages/linker/.zig-cache
/packages/variadic/.zig-cache
packages/.DS_Store
/packages/drivers/.zig-cache
/packages/inline/.zig-cache
/packages/regalloc/.zig-cache
/packages/platform/.zig-cache
/packages/volatile/.zig-cache
/packages/intrinsics/.zig-cache
