/.zig-cache
/zig-out
node_modules

# Home package manager
pantry/
/packages/kernel/.zig-cache
/packages/ffi/.zig-cache
/packages/linker/.zig-cache
/packages/variadic/.zig-cache
packages/.DS_Store
/packages/drivers/.zig-cache
/packages/inline/.zig-cache
/packages/regalloc/.zig-cache
/packages/platform/.zig-cache
/packages/volatile/.zig-cache
/packages/intrinsics/.zig-cache
/packages/build/.zig-cache
/packages/build/.test-cache
/pantry_modules
/packages/collections/.zig-cache
/packages/io/.zig-cache
/packages/video/.zig-cache
/packages/audio/.zig-cache
/packages/events/.zig-cache
/packages/storage/.zig-cache
/packages/websocket/.zig-cache
/packages/session/.zig-cache
/packages/auth/.zig-cache
/packages/validation/.zig-cache
/packages/queue/.zig-cache
/packages/notifications/.zig-cache
/packages/cache/.zig-cache
/packages/ratelimit/.zig-cache
/packages/i18n/.zig-cache
/packages/scheduler/.zig-cache
/packages/mail/.zig-cache
/packages/logging/.zig-cache
